@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}


.row__header {
    display: flex;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo {
    width: 32px

}
.nav__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.nav__links {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 600;

}

.nav__link--primary {
    background-color :#6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}

.section__title span{
    color: #6030b1;
}
 .text-purple-2 {
    color: #6030b1;
 }

.section__title {
    font-size: 72px;
}

.section__tag {
    color: #6030b1;
}

.section__title {
    margin: 16px 0;
    font-weight: 900px;
    font-size: 48px;
}


.section__id--landing {
    width: 40%;
}

.header__email {
    display: flex;
    max-width: 448px;
    width: 100%;
    position: relative;
    margin: 32px 0;

}

.header__email--btn {
    background-color :#6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 8px;
    cursor: pointer;
    transition: 300ms;
    z-index: 9999;
}

.header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
 }



.header__description--para {
    font-size: 32px;
    text-align: left;
    justify-content: center;
    margin: 32px 0;
}


.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
    transition: border-color 300ms;
}

.header__customers--title {
    margin-top: 80px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #a0aec0;
    text-align: left;
}

.feature__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    width: calc(100%/3);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

.p {
    font-size: 32px;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }

    header.row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {
    
    .header__description{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
     }

    .btn__menu {
        display: block;
    }
    header.row {
        flex-direction: column;
   
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}


@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
    .header__email--input {
    position: static;
    padding: 24px 0;
    padding-left: 32px;
    line-height: 1.5;
    }
}